*.class

# Package Files #
*.jar
*.war
*.ear

# Others #
.classpath
.project
.metadata/

# Latex #
*.synctex.gz
*.log
*.aux
/laFac.com/JavaApplication7/nbproject/private/
/laFac.com/JavaApplication7/build/